.navbar {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-link {
  font-size: 0.95rem;
}

.navbar {
  border-bottom: 1px solid #232634;
}
