{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Archive</title>
<link rel="stylesheet" href="{{url_for('static', filename='archive.css')}}">
</head>
<body>
  <div class="page-container">
  <section class="archive">
  <h1 class="page-title">Archive</h1>
  <p class="page-subtitle">Writing & selected publications</p>

  <div class="archive-item">
    <div class="archive-text">
      <h2>Moonbound</h2>
      <span class="archive-meta">Fiction · PDF · 2025</span>
      <p>
        A speculative short story exploring memory, distance,
        and quiet transformation.
      </p>
      <a href="pdfs/moonbound.pdf" class="archive-link">Read →</a>
    </div>

    <a href="pdfs/moonbound.pdf" class="archive-image">
      <img src="https://i.pinimg.com/736x/15/26/f5/1526f54a33e0d372781ad9ebff251943.jpg" alt="Moonbound first page">
      <span class="image-caption">Fiction · PDF · 2025</span>
    </a>
  </div>
</section>
</div>
</body>
</html>



{% endblock %}