{% extends "base.html" %}
{% block content %}
<title>Certificates</title>
<link rel="stylesheet" href="{{url_for('static', filename='c.css')}}">
<section class="page-header">
  <div class="container">
    <h1>Certificates</h1>
    <p class="info">
      <br>A collection of certificates and achievements from various courses, workshops, and programs.
      Showcasing dedication to learning and growth in the field of computer science and beyond.
    </p>
  </div>
</section>
<div class="container">
  <hr class="soft-divider">
</div>
{% endblock %}