{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <img src="https://png.pngtree.com/thumb_back/fh260/background/20240814/pngtree-spring-time-with-beautiful-cherry-blossoms-pink-sakura-flowers-image_16131927.jpg" width="1000" height="500" alt="Tokyo">
  <hr class="dotted">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        Column
      </div>
    </div>
  </div>
  <hr class="dotted">
    <div class="card" style="width: 63rem; height: 40rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    </div>
  </div>
  <div class="card" style="width: 63rem; height: 40rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    </div>
</body>

{% endblock %}
