{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.css">
  <title>Home</title>
</head>
<body>
  <img src="https://media.audleytravel.com/-/media/images/home/north-asia-and-russia/japan/activities/tokyo-gettyimages-1131743616-1000x3000.jpg?q=60&w=1920&h=685" width="1000" height="500" alt="Tokyo">
  <hr class="dotted">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        Column
      </div>
    </div>
  </div>
  <hr class="dotted">
    <div class="card" style="width: 63rem; height: 40rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    </div>
  </div>
</body>

{% endblock %}
